<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>分类</title>
  <link rel="stylesheet" href="/static/style/style.css" />
  <link rel="stylesheet" href="../../static/layui/css/layui.css" />
</head>
<body>

  <ul class="layui-nav" lay-filter="" style="text-align: center">
    <li class="layui-nav-item"><a href="/reptile">爬虫</a></li>
    <li class="layui-nav-item"><a href="/sign">标记</a></li>
    <li class="layui-nav-item layui-this"><a href="/classification">分类</a></li>
    <li class="layui-nav-item"><a href="/algorithm">算法</a></li>

    <li class="layui-nav-item" style="margin-right: 10px; float: right">
        <a href=""><img src="../../static/images/login.jpg" class="layui-nav-img">我</a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">退出</a></dd>
        </dl>
      </li>
  </ul>

<div id="main">
    <div id="body" class="light">
    	<div id="content" class="show">
            <div class="demo">
            	<form id="uploadForm" action="/classification/index" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="upload_box">
                        <div class="upload_main">
                            <div class="upload_choose">
                                <input id="fileImage" type="file" size="30" name="fileselect[]" multiple />
                                <span id="fileDragArea" class="upload_drag_area">或者将图片拖到此处</span>
                            </div>
                            <div id="preview" class="upload_preview"></div>
                        </div>
                        <div class="upload_submit">
                            <button type="button" id="fileSubmit" class="upload_submit_btn">确认上传图片</button>
                        </div>
                        <div id="uploadInf" class="upload_inf"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <script src="http://libs.baidu.com/jquery/1.4.4/jquery.js"></script>
    <script type="text/javascript" src="/static/js/test.js"></script>
</body>
</html>
