<!DOCTYPE html>
{#{% load staticfiles %}#}
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
{#    <link rel="stylesheet" type="text/css" href="{% static 'style/login.css' %}">#}
    <link rel="stylesheet" type="text/css" href="/static/style/login.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css" />
    <script src="/static/layui/layui.js" type="text/javascript"></script>
    <script src="/static/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/static/layer/layer.js" type="text/javascript"></script>
    <script src="/static/laydate/laydate.js" type="text/javascript"></script>

</head>

<body>
    <div class="head">船&nbsp舶&nbsp自&nbsp动&nbsp分&nbsp类&nbsp系&nbsp统</div>
    <div class="login-content">
        <form action="" method="post">
            <div class="login-logle"><span>用户</span></div>
            <hr style="background-color:rgba(0,0,1,0.2);">
            <div class="login-name-content">
                <div class="login-name-logle">
                    <i class="layui-icon layui-icon-username" style="font-size: 20px;color:white;"></i>
                </div>
                <div class="login-name-line"></div>
                <input class="name-input" id="name" name="name" type="text" placeholder="请输入用户名">
            </div>
            <div class="login-password-content">
                <div class="login-password-logle">
                    <i class="layui-icon layui-icon-password" style="font-size: 20px;color:white;"></i>
                </div>
                <div class="login-password-line"></div>
                <input class="password-input" id="password" name="password" type="password" placeholder="请输入密码">
            </div>
            <div class="check-register">
                <label>
                    <select style="margin-left: 40px;">
                        <option value="1">管理员</option>
                        <option value="2">普通用户</option>
                    </select>
                </label>
            </div>
            <button class="login-button" type="" ><a href="/user_login">登 录</a></button>
        </form>
    </div>

</body>
</html>